/*header Css*/
body{ 
  font-family: 'bitter'
}
#addNew{ 
	float: left;
	width: 15%;
}

#searchStuff{ 
	width: 50%;
  float: right; 
}

#inputBoxContent{ 
	height: 70px; 
} 

.myButton{ 
  display: block;
  display: inline-block;
  text-align: center; 
  background-color: #53346D; 
  color: white; 
  border-radius: 5; 
  -moz-border-radius: 10px;
  -webkit-border-radius:10px; 
  font-family: 'bitter'; 
  font-size: 15pt; 
  padding: 5px 15px;
  margin: 0px 5px;
}


/*sidebar CSS*/
#wrapper {

  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding-top: 25px;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: linear-gradient(to top right, #000000, #53346D);
  color: #FAEBD7;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper a{
	color:#FAEBD7;
	position: fixed;
	font-weight: normal;
	font-size: 110%;
	height: 100%;
  font-family: 'bitter'; 
	
}

#page-content-wrapper {
  width: 100%;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;

}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #F0FFFF;
    background: rgba(255,255,255,0.2);
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}