<!-- public/partials/home.html -->
<!-- home page for the app, listing all the stored topics with searching, editing and deleting functionalities-->
<div class="container-card">
  <div class="container-search">
    <input type="search" placeholder="Search" ng-model="topicSearch">
  </div>

  <div class="container-count">
    <label>Number of wikis: {{TopicsCount}}</label>
  </div>
  <div class="topic-list">
    <div
        class="topic-tile"
        ng-repeat="topic in topics| filter :topicSearch"
        ng-click="readTopic(topic.url)">
    <span>{{topic.title}}</span>
    </div>
    <div
        class="topic-tile topic-tile-new"
        ng-click="createTopic()">
    <span>+</span>
    </div>
  </div>

</div>