<!-- public/partials/newtopic.html -->
<!-- page for creating new topics including specifying topic title and topic content -->
<div class="container-card">
  <h1> <center>New Topic </center></h1>



  <br></br>

  <form
      class="create-todo"
      role="form">
      
  <h3> <center>Topic Name</center></h3>  

      <input type="text" class="topic_name_section" ng-model="topic_name">

  <h3> <center>Description</center></h3>  

      <input type="text" class="form-control" ng-model="topic_description">
 
    <button class="todo-button" ng-click="go('/')">Cancel</button>

    <button class="todo-button"  ng-click="createTopic()">Create</button>
  </form>

</div>