<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>



<div class="container">
  <div id="login">
    <br>
    <h1>Welcome to Spotinder</h1>
  </div>
  
  <div id="loggedin">
    <div id="user-profile">
      <h2>Logged in as {{userData.display_name}}</h2>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="300" src="{{userData.images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <b>Display name: </b>{{userData.display_name}}<br>
            <b>Id: </b>{{userData.id}}<br>
            <b>Email: </b>{{userData.email}} <br>
            <b>Spotify URI: </b><a href="{{userData.external_urls.spotify}}">{{userData.external_urls.spotify}}</a> <br>
            <!-- <dt><b>Link</b></dt><dd><a href="{{userData.href}}">{{userData.href}}</a></dd>
            <dt><b>Profile Image</b></dt><dd class="clearfix"><a href="{{userData.images.0.url}}">{{userData.images.0.url}}</a></dd> -->
            <b>Country: </b>{{userData.country}}
            <!-- <dt><b>Country</b></dt><dd>{{userData.country}}</dd> -->
          </dl>
        </div>
      </div>      
    </div>

    <div id = "Genre1">
      <h3><b>Hip Hop</b></h3>
        <ul>
          <li ng-repeat="song in hip_hop_genre">
              <div class="media-details">
              <button id = "like" ng-click = "like(song.genre, song.name, song.artist)" class="myButton" style="float: center;">Like</button>
                {{song.name}}
                <div> {{song.artist}} </div>
              </div>
          </li>
        </ul>
  </div>
</div>

